.dropdown-menu {
    margin: .4rem 0 0;
}

.row {
    margin-top: 10px;
}

.youtube {
    border: 0px;
}

.profile-picture {
    text-align: right;
    align-content: right;
    border-radius: 50%;
    width: 50px;
}

/* Remove the underline from links */
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* Pacmen Image and details was referenced from: https://www.formget.com/css-hr/ */
hr.pacmen {
    border: 0;
    height: 25px;
    background-image: url(images/linebreak.png);
    background-repeat: no-repeat;
}

.center-text {
    text-align: center;
}

.navbar-expand-lg .navbar-collapse {
    display: -webkit-box!important;
    flex-basis: 100%;
}